%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-airbnb:before {
	content: "\e900";
}
._icon-buzz:before {
	content: "\e901";
}
._icon-chase:before {
	content: "\e903";
}
._icon-cisco:before {
	content: "\e904";
}
._icon-ebay:before {
	content: "\e905";
}
._icon-facebook:before {
	content: "\e906";
}
._icon-gucc:before {
	content: "\e907";
}
._icon-hand:before {
	content: "\e908";
}
._icon-home:before {
	content: "\e909";
}
._icon-linkedin:before {
	content: "\e90a";
}
._icon-microsoft:before {
	content: "\e90b";
}
._icon-search:before {
	content: "\e90c";
}
._icon-tvitter:before {
	content: "\e90d";
}
._icon-uber:before {
	content: "\e90e";
}
._icon-whale:before {
	content: "\e90f";
}
._icon-insta:before {
	content: "\e902";
}
