// Заголовки, загальні БЕМ блоки та інше...
.page {
	// .page__main

	&__main {
	}

	// .page__how

	&__how {
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
.title {
	font-weight: 600;
	@include adaptiveValue("font-size", 40, 24);
	line-height: math.div(55, 40);
	color: #000000;
}

.title--center {
	text-align: center;
}
