//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	/* background-color: rgba(255, 255, 255, 0.75); */
	z-index: 50;
	transition: all 0.3s ease 0s;
	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		gap: rem(15);
		min-height: rem(103);
		align-items: center;
		padding-top: rem(10);
		padding-bottom: rem(10);
	}

	// .header__logo

	&__logo {
		font-weight: 800;
		font-size: rem(23);
		line-height: math.div(31, 23);
		color: #31353b;
		z-index: 5;
	}

	// .header__menu

	&__menu {
	}
}
.menu {
	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(46);
		row-gap: rem(5);
		@media (max-width: $tablet) {
			justify-content: center;
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100%;
			row-gap: rem(50);
			top: 0;
			left: -100%;
			bottom: 0;
			overflow: auto;
			background-color: #bdccff;
			padding: rem(100) rem(15);
			transition: left 0.9s ease 0s;

			&::before {
				content: "";
				position: fixed;
				background-color: #bdccff;
				height: rem(40);
				width: 100%;
				left: -100%;
				top: 0;
				transition: left 0.9s ease 0s;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-weight: 700;
		font-size: rem(13);
		line-height: math.div(17, 13);
		color: #000000;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				color: #f85a47;
				transition: color 0.3s ease 0s;
			}
		}
		@media (max-width: $mobileSmall) {
			font-weight: 800;
			font-size: rem(22);
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobileSmall) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: rem(0);
				right: rem(15);
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
